# Dependency directories


# Optional  cache directory
.ipynb_checkpoints
__pycache__

# dotenv environment variables file
.env

# draft files and folders
draft.ipynb
demo/.*

# logs folder (you can comment / uncomment it on your purpose)
# requests_logs